<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.genuitec.eclipse.code.debug.python.codeMixLaunchConfigurationType">
<stringAttribute key="launchJsonContent" value="{&#10;  &quot;name&quot;: &quot;Launch ExcelLibrary.py&quot;,&#10;  &quot;type&quot;: &quot;python&quot;,&#10;  &quot;request&quot;: &quot;launch&quot;,&#10;  &quot;cwd&quot;: &quot;${workspaceFolder}/&quot;,&#10;  &quot;program&quot;: &quot;${workspaceFolder}/ExcelLibrary.py&quot;&#10;}"/>
<stringAttribute key="launchJsonContents" value="{&#13;&#10;    // Use IntelliSense to learn about possible attributes.&#13;&#10;    // Hover to view descriptions of existing attributes.&#13;&#10;    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387&#13;&#10;    &quot;version&quot;: &quot;0.2.0&quot;,&#13;&#10;    &quot;configurations&quot;: [&#13;&#10;    &#13;&#10;{&#10;  &quot;name&quot;: &quot;Launch ExcelLibrary.py&quot;,&#10;  &quot;type&quot;: &quot;python&quot;,&#10;  &quot;request&quot;: &quot;launch&quot;,&#10;  &quot;cwd&quot;: &quot;${workspaceFolder}/&quot;,&#10;  &quot;program&quot;: &quot;${workspaceFolder}/ExcelLibrary.py&quot;&#10;}]&#13;&#10;}"/>
<stringAttribute key="launchJsonPath" value="D:\user2\RF-api-liliang\.vscode\launch.json"/>
<stringAttribute key="name" value="Launch ExcelLibrary.py"/>
</launchConfiguration>
